<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='NewAbout_2.css')}}" rel="stylesheet" type="text/css"/>
    <title>About Us</title>
</head>
<body>
<div class="wrapper">
    <div class="logo">
        <img alt="" src="/static/Juba.ico">
    </div>
    <ul class="menu-bar">
        <li><a href="/Home">Home</a></li>
        <li><a href="/Registration">Registration</a></li>
        <li><a href="/Surveillance">Surveillance</a></li>
        <li><a href="/Update_Information">Information Update</a></li>
        <li><a href="/Main">Log out</a></li>
        <li><a href="/About_After_LogIn">About Us</a></li>
    </ul>
</div>

<div class="welcome-text">
    <h1>
        Juba Camera Surveillance System
    </h1>
    <p class="para">
        In our project, we will mainly detect faces using Python and OpenCV. We plan to build the
        backend of our project using python frameworks Django or Flask and frontend through
        JavaScript. Our initial plan for the database is to use SQLite. And we will use HTML, CSS, and
        React JS to build our front end.
        We will use OpenCV for human face detection. We plan to use the JavaScript framework React
        for the front end. First, we will collect the data of students and staff of the university through
        registration. We will store that data in the database. The machine will scan people's faces through
        the camera, take their information from the database, and display that information as output. The
        output will show Name, Department, and IDs next to their appearance. As a result, if someone is
        not associated with the university, he can be detected easily.
    </p>

    <br>
    <br>
    <br>

    <p class="para" style="margin-top: 120px; padding-left: 30px;letter-spacing: 1.5px;"><strong> 1. Zobaer Ahammod
        Zamil </strong></p>
    <p class="para" style="margin-top: 145px; padding-left: 64px; letter-spacing: 1.5px; ">ID #2021796042 </p> <br>
    <p class="para" style="margin-top: 165px; padding-left: 85px; letter-spacing: 1.5px; "> [ <b><i> Mainly Worked On
        Backend </b></i>  For This Project , Also Contribute On Frontend . ]</p>

    <br> <br>

    <p class="para" style="margin-top: 185px; padding-left: 30px;letter-spacing: 1.5px;"><strong> 2. Tahiat Hakim
        Himel </strong></p>
    <p class="para" style="margin-top: 210px; padding-left: 64px; letter-spacing: 1.5px; ">ID #2013075042 </p> <br>
    <p class="para" style="margin-top: 235px; padding-left: 85px; letter-spacing: 1.5px; "> [ <b><i> Mainly Worked On
        Frontend </b></i> For This Project . ]</p>


    </p>
</div>

</body>
</html>