<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='Main.css')}}" rel="stylesheet" type="text/css"/>
    <title>Home</title>
</head>
<body>
<div class="wrapper">
    <div class="logo">
        <img alt="" src="/static/Juba.ico">
    </div>
    <ul class="menu-bar">
        <li><a href="/Main">Home</a></li>
        <li><a href="/Login">Login</a></li>
        <li><a href="/About">About Us</a></li>
    </ul>
</div>

<div class="welcome-text">
    <h1>
        Welcome to Juba Camera Surveillance System
    </h1>
</div>

</body>
</html>