<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='registration.css')}}" rel="stylesheet" type="text/css"/>
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/838ecfe5a7.js"></script>
    <title>Registration</title>
</head>
<body>
<div class="wrapper">
    <div class="logo">
        <img alt="" src="/static/Juba.ico"/>
    </div>
    <ul class="menu-bar">
        <li><a href="/Home">Home</a></li>
        <li><a href="/Registration">Registration</a></li>
        <li><a href="/Surveillance">Surveillance</a></li>
        <li><a href="/Update_Information">Information Update</a></li>
        <li><a href="/Main">Log out</a></li>
        <li><a href="/About_After_LogIn">About Us</a></li>
    </ul>
</div>
<div class="container">
    <h1>Registration</h1>
    <form action="/registration_form" method="POST">
        <div class="from first">
            <div class="personal details">
                <span class="title">Personal Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Full Name </label>
                        <input name="Full_Name" placeholder="Enter your full name" required type="text">
                    </div>

                    <div class="input-field">
                        <label>NSU ID </label>
                        <input maxlength="7" name="NSU_ID" placeholder="Enter your nsu ID" required type="text">
                    </div>

                    <div class="input-field">
                        <label>Department </label>
                        <select id="department" name="Department" required>
                            <option value="Select Department">-- Select Department --</option>
                            <option value="Architecture">Architecture</option>
                            <option value="CEE">Civil & Environmental</option>
                            <option value="ECE">Electrical and Computer Engineering</option>
                            <option value="DMP">Math & Physics</option>
                            <option value="BBA">BBA</option>
                            <option value="MBA">MBA</option>
                            <option value="E&M">English & Modern Languages</option>
                            <option value="H&P">History & Philosophy</option>
                            <option value="Law">Law</option>
                            <option value="PSS">Political Science & Sociology</option>
                            <option value="B&M">Biochemistry & Microbiology</option>
                            <option value="ECM">Environmental Science</option>
                            <option value="Pharmacy">Pharmaceutical Sciences</option>
                            <option value="PH">Public Health</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Email </label>
                        <input name="Email" placeholder="Enter your email" required type="email">
                    </div>

                    <div class="input-field">
                        <label>Contact Number </label>
                        <input maxlength="11" name="Contact_Number" placeholder="Enter your contact number" required
                               type="text">
                    </div>

                    <div class="input-field">
                        <label>Designation </label>
                        <select id="designation" name="Designation" required>
                            <option value="select designation">-- Select Designation --</option>
                            <option value="Student">Student</option>
                            <option value="Faculty">Faculty</option>
                            <option value="Administrator">Administrator</option>
                            <option value="Staff">Staff</option>
                            <option value="Guest">Guest</option>
                            <option value="Employee">Employee</option>
                        </select>
                    </div>

                    <div class="button">
                        <input name="Proceed" type="submit" value="Register">
                    </div>

                    <font face="Verdana " size="5" style="color:#ff0000">{{info}}</font>
                    <br>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>