<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Admin Sign Up</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    />
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/838ecfe5a7.js"></script>
    <link href="{{ url_for('static', filename='SignUp.css')}}" rel="stylesheet" type="text/css"/>
</head>

<body>
<form action="/signup_form" method="POST">
    <div class="login_form_container">
        <div class="login_form">
            <h2>Sign Up</h2>
            <div class="input_group">
                <i class="fa-solid fa-building-columns"></i>
                <input autocomplete="off" class="input_text" name="Institute_Name" placeholder="Institute Name"
                       required type="text"/>
            </div>

            <div class="input_group">
                <i class="fa-solid fa-envelope"></i>
                <input autocomplete="off" class="input_text" name="Email" placeholder="Email" required type="email"/>
            </div>

            <div class="input_group">
                <i class="fa fa-user"></i>
                <input autocomplete="off" class="input_text" name="Username" placeholder="Username" required
                       type="text"/>
            </div>

            <div class="input_group">
                <i class="fa fa-unlock-alt"></i>
                <input autocomplete="off" class="input_text" name="Password" placeholder="Password" required
                       type="password"/>
            </div>

            <div class="input_group">
                <i class="fa fa-unlock-alt"></i>
                <input autocomplete="off" class="input_text" name="Confirm_Password" placeholder="Confirm Password"
                       required type="password"/>
            </div>

            <div class="button_group" id="login_button">
                <input name="Submit" style="color:#00ccff" type="submit" value="Sign Up"></input>
            </div>
            <br><br>
            <font face="Verdana" size="5" style="color:#ff0000">{{info}}</font>
            <br>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="login.js"></script>
</form>
</body>
</html>